body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

p {
  font-size: 2vmin;
}

h1 {
  font-size: 5vmin;
}

h2 {
  font-size: 4vmin;
}

h3 {
  font-size: 3vmin;
}

.navbar {
  border: solid;
  border-color: black;
  display: flex;
  flex-direction: row;
  height: 18%;
  width: 100%;
}

main {
  height: 82%;
  width: 100%;
}

.usercards {
  display: grid;
  align-self: center;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  height: 87%;
  width: 100%;
}

.usercard {
  border: solid;
  border-color: black;
  display: flex;
  flex-direction: column;
  margin: 1%;
  min-width: 200px;
}

.user-image {
  background-size: 100% 100%;
  color: white;
  display: flex;
  justify-content: space-between;
  height: 35%;
  width: 100%;
}

.user-info {
  display: flex;
  flex-direction: column;
  height: 65%;
  line-height: 0.2vmin;
}

.share-arrow {
  background-color: white;
  border-radius: 50%;
  height: 40%;
  width: 25%;
}

.arrow-icon {
  height: 80%;
  width: 80%;
}

.link-box {
  align-self: center;
  background-color: grey;
  text-align: center;
  margin-left: 1%;
  margin-right: 1%;
  overflow: scroll;
}

@media screen and (max-width: 740px) {
  .usercards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 550px) {
  .usercards {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 400px) {
  .usercards {
    grid-template-columns: 1fr;
  }
}
