body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.navbar {
  border: solid;
  border-color: black;
  display: flex;
  flex-direction: row;
  height: 18%;
  width: 100%;
}

main {
  height: 82%;
  width: 100%;
}

.usercards {
  display: grid;
  align-self: center;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  height: 87%;
  width: 100%;
}

.usercard {
  border: solid;
  border-color: black;
  margin: 1%;
  min-width: 200px;
}

@media screen and (max-width: 740px) {
  .usercards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 550px) {
  .usercards {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 400px) {
  .usercards {
    grid-template-columns: 1fr;
  }
}
